body, html{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    min-height: 100vh;
    /* Full viewport height */
    background-color: #FFFFFF;
}

.page {
    display: none;
    text-align: center;
}
.page.active {
    display: block;
    text-align: center;
}
.page.hiddenpage {
    display: none;
}
#tiktok-style {
    color: red;
    font-size: 1.0em;
    padding-left: 30%;
}
#tiktok-logo {
    display: flex;
    justify-content: center;
    padding: 0px 80px 0px 0px;
}
textarea {
    padding: 16px;
    line-height: 1.5;
    height: 276px;
    width: 340px;
    outline: none;
    border-radius: 15px;
    border: none;
    background-color: #F3F3F3;
}
form {
    margin-top: 90px;
}
#detailsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.nextToDetails {
    width: 340px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 15px;
    color: #fff;
    background: #FF3A5D;
    font-size: 2em;
    letter-spacing: .015px;
    font-weight: bold;
}
#logo-icon {
    height: 165px;
    padding-left: 26%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    font-family: Comic Sans MS;
}
span {
    color: red;
}
#tiktok-underline {
    text-decoration: underline;
    font-weight: bold;
}
input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 340px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #F3F3F3;
    padding-left: 10px;
}
textarea::placeholder {
    color: gray;
    font-size: 1.5em;
}
/**
#24hrs-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
**/
#feedback-icon {
    display: flex;
    justify-content: center;
    height: 135px;
    padding-top: 195px;
    /**
    padding-left: 130px;
    **/
    margin-left: 130px;
    line-height: 0.235px;
}
p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
